body {
    background:#E8C5C5;
    margin-left: 100px;
    margin-right: 100px;
}

header {
    margin-top: 70px;
}

h1 {
    color: red;
    font-family: fantasy;
}

h2 {
    font-family: fantasy;
}

p {
    font-family: cursive;
    font-size: 18px;
}

footer {
    margin-bottom: 30px;
}

.img_padrao {
    margin: 20px;
    width: 300px;
    border-style: solid;
    border-color: gainsboro;
    border-radius: 10px;
}

.logo {
    width: 30px;
}


